:root {
    --primary-color: #efe6d5 ;
    --secondary-color: #9dbeb7;
    --tertiary-color: #e73213;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*General styles for entire body*/
body {
    color: var(--tertiary-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*Styles for header and nav*/
header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header nav {
    font-size: 20px;
    border-bottom: var( --primary-color);
    width: 30%;
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--primary-color);
}

/*End styles for header and nav*/

/*Styles for hero section*/
.hero {
    background-image: url(../images/bridge-coast-golden-gate-bridge.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 50px 10px 0;
    height: 300px;
    background-position: 80%;
}

.hero p {
    font-size: 70px;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: var(--secondary-color);
}

